:root {
  --white: #f5f5f5;
  --bg: rgb(244, 233, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* text decor gunanya supaya tidak ada garis bawah ketika dibagi link */
  text-decoration: none;
}

body {
  background: var(--bg);
  font-family: "Poppins", sans-serif;
  position: relative;
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* min-height: 480vh; */
/* height: 500vh;
padding:250px; */
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  /* padding: 1.4rem 7%; */
 height: auto;
  background-color: rgb(255, 255, 255);
  box-sizing:border-box;
  border-bottom: 1px solid var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(170, 138, 167, 0.37);
  font-style: italic;
}

.navbar .navbar-nav {
  
  color: rgba(170, 138, 167, 0.979);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgba(102, 77, 101, 0.37) !important;
  text-decoration: underline;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  padding-top: 0.1 rem solid var(--white);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1); /* Garis otomatis melebar penuh saat mouse mendekat */
}

.navbar .navbar-nav a:active::after {
  transform: scaleX(0.5);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-extra {
  display: flex;
  align-items: center;
}

.navbar .navbar-extra a {
  color: rgba(181, 152, 201, 0.979);
  margin: 0 0.5rem;
}

.navbar.navbar-extraa: hover {
  color: rgba(102, 77, 101, 0.37) !important;
}

.item-bunga:focus{
   transform: scale(1.1); /* Tetap dipaksa membesar 1.1 kali saat disentuh di layar kecil */
 outline: none;         /* Menghilangkan garis hitam fokus */
} 
.item-bunga1:focus{
   transform: scale(1.1); /* Tetap dipaksa membesar 1.1 kali saat disentuh di layar kecil kayak hp atau tablet */
 outline: none;         /* Menghilangkan garis hitam fokus */
}
.item-bunga2:focus{
   transform: scale(1.1); /* Tetap dipaksa membesar 1.1 kali saat disentuh di layar kecil */
 outline: none;         /* Menghilangkan garis hitam fokus */
}
#hamburger-menu {
  display: none;
}

/* hero section */
.hero {
  width: 100%;
  position: relative; 
/* 
   left: 0;
  top: 0; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./folder.img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0px;
  padding: 0 7%;
  padding-left: 7%;
  padding-top: 80px;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background: linear-gradient(to bottom, rgba(244, 233, 255, 0) 60%, var(--bg) 100%);
  z-index: 1;
}

.hero .hero-container {
padding: 1.0rem 7%;
  max-width: 60rem;
}

.hero .hero-container h1 {
  font-size: 4em;
  color: rgba(255, 255, 255, 0.979);
}

.hero .hero-container p {
  font-size: 1.4em;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.979);
  font-weight: 100rem;
  mix-blend-mode: difference;
}

/* .hero .hero-container  */
.hero .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.979);
  background-color: rgba(105, 75, 105, 0.979);  
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1,3, 0.5);
cursor: pointer !important;
   /* transition: transform 0.1s ease-in-out !important;
     -webkit-tap-highlight-color: transparent; */
}

 /* .hero .hero-container */
/* .cta:hover {
  transform: scale(1.02) !important; 
} */

 /* .hero .hero-container  */
 /* .cta:active {
transform: scale(1.1) !important;
} */

.navbar .navbar-nav {
  display: flex;
  gap: 2rem;
}

.navbar .navbar-nav a {
  color: rgba(170, 138, 167, 0.979);
  font-size: 20px !important;
  display: inline-block;
  position: relative;
}

#hamburger-menu {
  display: block;
  font-size: 1.5rem;
  color: rgba(170, 138, 167, 0.979);
  cursor: pointer;
}

/* about section */
.About {
padding: 7rem 7%;
/* padding: 10rem 7% 1.4rem; */
 position: relative; 
 /* TAMBAHKAN INI */
  /* top: 115vh;        */
    /* TAMBAHKAN INI agar posisinya tepat dimulai setelah hero selesai */
   /* margin-top: -10rem; */
  left: 0;            /* TAMBAHKAN INI */
  width: 100%;        /* TAMBAHKAN INI agar lebar tetap penuh */
}

.About h2 {
    -webkit-text-stroke: 1px black;
    color: beige !important;
  font-size: 4rem;
  color: rgba(199, 195, 195, 0.979);
  text-align: center;     /* Membuat teks h2 pas di tengah-tengah layar */
  margin-bottom: 2rem;    /* Jarak vertikal agar gambar di bawahnya tidak terlalu mepet */
  width: 100%;
}
/* Wadah khusus di bawah judul yang mengatur gambar dan teks berdampingan */
.About .about-container {
  display: flex;
  flex-direction: row;    /* Membuat gambar dan teks berjejer ke samping */
  align-items: center;    /* Menyeimbangkan tinggi gambar dan teks agar sejajar lurus */
  justify-content: center;/* Memastikan seluruh konten berada di tengah halaman */
  gap: 4rem;              /* Jarak horizontal memisahkan gambar dan teks */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;         /* Menjaga seluruh box konten tetap berada di tengah */
}
/* Mengatur ukuran area gambar */
.About .gbr {
  flex: 1;
  max-width: 450px;       /* Batas lebar maksimal gambar */
}

.About img {
  width: 100%;
  aspect-ratio: 1 / 1;    /* MEMAKSA GAMBAR KOTAK (1:1) agar bulatnya tidak lonjong */
  object-fit: cover;      /* Memastikan gambar terpotong rapi di dalam lingkaran tanpa gepeng */
  border-radius: 50%; 
}

/* Mengatur area teks */
.About .content {
  flex: 1;
  text-align: left;       
}
.About h3 {
  font-size: 3rem;
    -webkit-text-stroke: 1px rgb(68, 68, 68);
  color: rgba(255, 255, 255, 0.979); 
  font-size: 2rem;
  margin-bottom: 1rem;
}

.About p {
  /* -webkit-text-stroke: 1px rgb(184, 179, 179); */
  font-size: 1.5rem;
  color: #353535;         
  text-align: justify;
  line-height: 1.6;
}


/* -- section Type Of Flowers start-- */
.Flowers {
/* padding: 10rem 7% 1.4rem; */
 position: relative; /* TAMBAHKAN INI */
 padding: 7rem 7%;
  /* top: 170vh;      */
      /* TAMBAHKAN INI agar posisinya tepat dimulai setelah hero selesai */
         /* margin-top: -5rem; */
      /* top: 0; */
  left: 0;            /* TAMBAHKAN INI */
  width: 100%;        /* TAMBAHKAN INI agar lebar tetap penuh */
}

/* Kode ini hanya aktif ketika layar dikecilkan (maksimal lebar 768px atau ukuran HP) */
/* @media (max-width: 1332px) {
  .Flowers {
    top: 165vh !important; /* Mengurangi jarak melayang dari 100vh menjadi 60vh agar lebih naik */
  /* }
} */ 


 .Flowers h2 {
color: rgb(115, 104, 126);
font-size: 3rem;
-webkit-text-stroke: 1px black;
    color: beige !important;
  font-size: 4rem;
  color: rgba(199, 195, 195, 0.979);
  text-align: center;     /* Membuat teks h2 pas di tengah-tengah layar */
  margin-bottom: 1rem;    /* Jarak vertikal agar gambar di bawahnya tidak terlalu mepet */
  width: 100%;
 }

.Flowers .menubunga {
  display: flex;
  flex-direction: row;      /* Memaksa semua gambar berjejer ke samping */
  justify-content: center;  /* Membuat seluruh rangkaian gambar berada pas di tengah layar */
  flex-wrap: wrap;          /* Supaya kalau layar HP sempit, gambar otomatis turun ke bawah dan tidak gepeng */
  gap: 2rem;                /* AMAN: Mengatur jarak renggang horizontal & vertikal antar gambar */
  width: 100%;
}

.Flowers .menubungatambahan {
  display: flex;
  flex-direction: row;      /* Memaksa semua gambar berjejer ke samping */
  justify-content: center;  /* Membuat seluruh rangkaian gambar berada pas di tengah layar */
  flex-wrap: wrap;          /* Supaya kalau layar HP sempit, gambar otomatis turun ke bawah dan tidak gepeng */
  gap: 2rem;                /* AMAN: Mengatur jarak renggang horizontal & vertikal antar gambar */
  width: 100%;
}


.Flowers p {
  color: rgb(61, 61, 58) !important;
  font-size: 1.5rem;
  position: flex;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;

}

.Flowers .jdl p {
   color: rgb(116, 116, 111) !important;
  font-size: 2.0rem;
  font-weight: bold;
  position: flex;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.Flowers  .jdl2 p {
   color: rgb(116, 116, 111) !important;
  font-size: 2.0rem;
  font-weight: bold;
  position: flex;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.Flowers  .jdl3 p {
   color: rgb(116, 116, 111) !important;
  font-size: 2.0rem;
  font-weight: bold;
  position: flex;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.Flowers img {
  flex: none;
   width: 10rem;      /* Atur lebar gambar seukuran h2 (sesuaikan rem/px) */
  height: 10rem;  /* Tinggi wajib sama dengan lebar agar tetap bulat sempurna */
  aspect-ratio: 1 / 1;    /* MEMAKSA GAMBAR KOTAK (1:1) agar bulatnya tidak lonjong */
  object-fit: cover;      /* Memastikan gambar terpotong rapi di dalam lingkaran tanpa gepeng */
  border-radius: 50%; 
  object-position:center;
  margin-bottom: 5rem; 
}

.menubunga .item-bunga {
flex-direction: column; /* Teks otomatis berada di bawah gambar */
  align-items: center;    /* Membuat gambar dan teks pas di tengah */
  display: flex;
    /* overflow-x: auto;
   scroll-snap-type: x mandatory; */
}
.menubungatambahan .item-bunga1 {
flex-direction: column;
  align-items: center;   
  display: flex;
     /* overflow-x: auto;
   scroll-snap-type: x mandatory;
   flex: 0 0 calc(33.33% - 14px); /* Trik matematika agar 1 layar pas menampilkan 3 barang */
  /* scroll-snap-align: center;     /* Mengunci posisi barang di tengah saat digeser */
  /* min-width: 150px;          */ 
   /* Batas minimal lebar agar gambar tidak gepeng di layar HP  */
}

/* 
.menubunga .menubungatambahan{
   overflow-x: auto;
   scroll-snap-type: x mandatory;
}

.menubunga .menubungatambahan button, 
.menubunga .item-bunga
 */

.item-bunga2 {
  flex-direction: column;
  align-items: center;   
  display: flex;
}

.nama-bunga {
  font-size: 0.9rem;
  color: #333333;
  font-weight: 600;
  text-align: center;
   margin-top: -4rem;
   margin-bottom: 4rem;
}

.item-bunga{
  cursor: pointer; /* Mengubah kursor jadi lambang tangan pointer */
  border: none;    /* Menghilangkan garis kotak bawaan tombol */
  background: none; /* Menghilangkan warna latar bawaan tombol */
  padding: 0;      /* Menghilangkan jarak dalam agar rapi */
   transition: transform 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent; /* Menghilangkan kotak biru bawaan HP saat ditekan */
}
.item-bunga1{
  cursor: pointer; /* Mengubah kursor jadi lambang tangan pointer */
  border: none;    /* Menghilangkan garis kotak bawaan tombol */
  background: none; /* Menghilangkan warna latar bawaan tombol */
  padding: 0;      /* Menghilangkan jarak dalam agar rapi */
    transition: transform 0.1s ease-in-out;
     -webkit-tap-highlight-color: transparent; /* Menghilangkan kotak biru bawaan HP saat ditekan */
}
.item-bunga2{
  cursor: pointer; /* Mengubah kursor jadi lambang tangan pointer */
  border: none;    /* Menghilangkan garis kotak bawaan tombol */
  background: none; /* Menghilangkan warna latar bawaan tombol */
  padding: 0;      /* Menghilangkan jarak dalam agar rapi */
    transition: transform 0.1s ease-in-out;
     -webkit-tap-highlight-color: transparent; /* Menghilangkan kotak biru bawaan HP saat ditekan */
}

.item-bunga:hover{
  transform: scale(1.02); /* Sedikit membesar saat didekati mouse */
}
.item-bunga1:hover {
  transform: scale(1.02); /* Sedikit membesar saat didekati mouse */
}
.item-bunga2:hover {
  transform: scale(1.02); /* Sedikit membesar saat didekati mouse */
}

.item-bunga:active{
  transform: scale(1.1); /* Mengecil menjadi 92% dari ukuran asli saat ditekan */
}
.item-bunga1:active{
  transform: scale(1.1); /* Mengecil menjadi 92% dari ukuran asli saat ditekan */
}
.item-bunga2:active{
  transform: scale(1.1); /* Mengecil menjadi 92% dari ukuran asli saat ditekan */
}
/* -- section Type Of Flowers end--*/

/* kontak start */
.Contact {
padding: 7rem 7%;
/* padding: 10rem 7% 1.4rem; */
 position: relative; /* TAMBAHKAN INI */
  /* top: 330vh;        */
  text-align: center;
  color: rgb(138, 101, 138);
    /* TAMBAHKAN INI agar posisinya tepat dimulai setelah hero selesai */
   /* margin-top: -10rem; */
  left: 0;            /* TAMBAHKAN INI */
  width: 100%;        /* TAMBAHKAN INI agar lebar tetap penuh */
}

/* Kode ini hanya aktif ketika layar dikecilkan (maksimal lebar 768px atau ukuran HP) */
/* @media (max-width: 1440px) {
  .Contact {
    top: 340vh !important; /* Mengurangi jarak melayang dari 100vh menjadi 60vh agar lebih naik */
  /* }
} */ 

.Contact h2{
  font-size: 4rem;
  margin-bottom: 1rem;
  -webkit-text-stroke: 1px black;
  color: beige !important;
  color: rgba(199, 195, 195, 0.979);
}
.Contact p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #333333;
}

 .Contact .map {
  display: flex;
  margin-top: 2rem;
  background-color: #f5f5f5;
  flex-wrap: wrap; 
  /* gunanay flex wrap ini supaya kalau misal kita buka di hp kan gak muat tu kesmaping dia bakal lari kebawah */

 }

 .Contact .map .map1 {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  height: 40rem;
 }

 .Contact .map form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  padding-top: 0;
 }
 .Contact .map form .input-grup{
  display: flex;
  align-items: center;
  text-align: center;
margin-top: 2rem;
background-color: white;
border: 1px solid white;
padding-left: 2rem;
border-radius: 0.5rem; 
 }

  /* .Contact .map form .input-grup i{
      align-item:middle} */

 .Contact .map form .input-grup input {
width: 100%;
padding: 2rem;
font-size:1.7rem ;
background: none;
 border: none;             
  outline: none; 
border-radius: 1.5rem;
 }

 .Contact .map form .input-grup svg.feather {
  align-items: center;
  width: 24px;               /* Mengunci lebar ikon */
  height: 24px;              /* Mengunci tinggi ikon */
  color: #7a5d8b;            /* Mengubah warna ikon (opsional, sesuaikan tema ungu Anda) */
  flex-shrink: 0;            /* Mencegah ikon gepeng atau mengecil */
  display: block;            /* Menghilangkan whitespace bawaan inline elemen */
  margin: 0;                 /* Reset margin bawaan */
}
 .Contact .map form .ktk {
  margin: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
font-size: 1.7rem;
color: white;
background-color: #7a5d8b ;
cursor: pointer;
border-radius: 1.5rem;
 transition: transform 0.1s ease-in-out;
     -webkit-tap-highlight-color: transparent;
}
 .Contact .map form .ktk:hover {
  transform: scale(1.02); 
}
 .Contact .map form .ktk:active {
transform: scale(1.1);
}

/* kontak end */

/* footer start */
footer{
    position: relative;
    /* top: 450vh;  */
  background-color: #c7a9c4;
  text-align: center;
  padding: 3rem 0;
  margin-top: -3rem;
  width: 100% !important;
 left: 0;

}
footer .sosial{
padding: 1rem 1.2rem ;
/* width: 100% !important; */
/* ini aku coba coba tambah widht disini pengen lihat apa dibakal kesmaping atau gak ternyata ia, dan masih ada gap kecil samping kanan */

}
footer .sosial a:hover,
footer .links a:hover {
color: #f5f5f5;
}
footer .links {
margin-bottom: 1.4rem;
}
footer .links a {
color: white;
padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
 color: white;
 font-weight: 700;
}
/* footer end */

/* media queries */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

/* tablet */
/* @media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
} */

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;

    top: 100%;
    right: -100%;
    /* right: -30rem; */
    background-color: rgba(255, 255, 255, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    flex-direction: column;
  }
}
  .navbar .navbar-nav.active {
    right: 0;
  }
  

.navbar .navbar-nav a:active {
  color: rgba(102, 77, 101, 1) !important;
}

.navbar .navbar-nav a:active::after {
  transform: scaleX(0.6);
  transition: transform 0.1s ease-out;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--white);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a {
  color: rgba(170, 138, 167, 0.979);
  /* display blosk itu supaya navigasinya itu turun ke bawah */
  display: block;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}